<template>
  <div>
    <b-jumbotron
      header="Federación Tucumana de Mutuales"
      lead="Los mejores beneficios para vos"
    >
      <img src="../assets/logo_fed.jpg" alt="Logo Federación" srcset="" id="Logo_fed">

      <p>¿Que onda chango todo bien? ahre</p>
      <b-button>Botoncito de prueba</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
export default {};
</script>

<style>
h1{
  text-align: center;
}
#Logo_fed {
  width: 25%;
  display: block;
  margin: auto;
}
</style>
