{% extends 'Administracion/base.html' %}
{% load static %}

{% block title %}    
    <title>Listado de Socios</title>
{% endblock  %}


{% block content %}
    <h2>LISTADO DE SOCIOS</h2>

    <h5>Busque un asociado: </h5>
    <form action="" method="GET">
        <input type="text" name="value" placeholder="Escriba Aqui" maxlength="30" required>
    <input type="submit" value="Buscar" title="Buscar">
    </form>

    <a href="{% url 'Listado' %}" class="btn btn sm btn-success" title="Volver atras"> Volver atras </a>
    <a href="{% url 'Alta' %}" class="btn btn sm btn-success" title="Agregar Socio"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        Agregar Socio 
    </a>


    <p>Datos encontrados: {{date_soc|length}}</p>
    <!-- Me fijo hay socios inscriptos o no -->
    {% if date_soc %}
        <table class="table table-borderd">
            <th>
                <tr>
                    <th colspan="3" class="text-center">Datos: </th>
                </tr>
                <tr class="text-center">
                    <th>N° de Socio</th>
                    <th>Apellido y Nombre</th>
                    <th>DNI</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Calle</th>
                    <th>Localidad</th>
                    <th>Departamento</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </th>
            {% for persona in date_soc %}
                <tr class="text-center">
                    <td>{{persona.numero_socio}}</td>
                    <td>{{persona.apellido_y_nombre.upper}}</td>
                    <td>{{persona.dni}}</td>
                    <td>{{persona.fecha_nacimiento.day}}/{{persona.fecha_nacimiento.month}}/{{persona.fecha_nacimiento.year}}</td>
                    <td>{{persona.calle.upper}}</td>
                    <td>{{persona.localidad.upper}}</td>
                    <td>{{persona.departamento.upper}}</td>
                    <td> 
                        <button type="button" class="btn btn-warning">
                            <a href="{% url 'Modificar' persona.numero_socio %}" title="Modificar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg>
                                Modificar
                            </a>
                        </button>    
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'Eliminar' persona.numero_socio %}" title="Eliminar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                Eliminar 
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center">Sin Registros</div>
            </td>
        </tr>
        
    {% endif %}
    
{% endblock  %}