{% extends 'Administracion/base.html' %}
{% load static %}
{% block title %}
<title>Inicio-Federación Regional Mutuales Tucuman</title>
{% endblock  %}
{% block content %}
    <h1>ADMINISTRACION</h1>
    <h4> Bienvenido {{user.username.upper}} </h4>
    <!--
    <a href="{% url 'Socios' %}">Socios</a><br>
    <a href="{% url 'Profesionales' %}">Profesionales</a>
    -->

{% endblock %}