<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/socios">Socios</router-link>  |
      <router-link to="/profesionales">Profesionales</router-link>  |
      <router-link to="/mutuales">Mutuales</router-link>  |
      <router-link to="/farmacias">Farmacias</router-link>  |
      <router-link to="/medicamentos">Medicamentos</router-link>  |
      <router-link to="/recetas">Recetas</router-link>  |
      <router-link to="/ordenes">Ordenes Medicas</router-link>  |
    </div>
    <router-view />
  </div>
</template>
<style></style>
